// Specific CSS for your home-page

.home-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  > .feature-card {
      padding: 20px 50px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

  }

  > .feature-card-1, .feature-card-3{
    color: white;
    align-self: flex-start;
  }
  > .feature-card-2{
    align-self: flex-end;
    color: white;
  }

}


.feature-image > img {
  width: 400px;

}



// Media queries

@media(max-width: 992px) {

}

@media(max-width: 768px) {

}

@media(max-width: 480px) {

  .home-h2 {
    text-align: center;
  }

  .feature-card {
    flex-direction: column;
    padding: 10px 0;
  }
  .feature-card-1, .feature-card-3 {
    align-self: center;
    text-align: center;


  }
  .feature-card-2{
    text-align: center;
    padding: 10px 0;
    align-self: center;

  }

}
