<div class="container">
  <h1><%= "Welcome #{@user.first_name}" %></h1>

  <h2>Your bookings</h2>
  <% @user.bookings.each do |booking|%>
  <li><%= "📅 #{booking.start_date} - #{booking.end_date}: From #{booking.start_location} to #{booking.end_location} 🚃" %></li>
  <% end %>
</div>
