<%# Landing page %>
<div class="banner-landing">
  <h1 class="banner-h1">Welcome to the Wagon Party</h1>
  <form action="#" class="banner-form">
    <input type="text" placeholder="Start Location">
    <input type="text" placeholder="End Location">
    <input type="date" placeholder="Check in">
    <input type="date" placeholder="Check Out">
    <input type="submit" class="btn-submit" value="Let's Go">
  </form>
</div>
