<%# Landing page %>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<div class="banner-landing">
  <h1 class="banner-h1">Welcome to the Wagon Party</h1>
</div>

<div class="test"></div>
