.home-card-container {
display: flex;
justify-content: space-between;
margin: 50px 0px 50px 0;
}
.home-card {
  color: white;
  background-color: $pink;
  border-radius: 8px;
  border: 0px;
  text-align: center;
}

.home-card .btn {
  color: $pink;
  opacity:0.8;
}

.home-card .btn:hover {
  opacity: 1;
}

.home-card-text {
  height: 80px;
  --max-lines: 2;
  overflow: hidden;
}

.booking-cards {
  display: block;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0px;

  > .card-wagon{
    border-radius: 4px;
    padding: 10px 80px 10px 10px;
  }

  > .booking-card {
    border: solid 1px white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 80px 10px 10px;
    list-style: none;
    border-radius: 4px;
    position: relative;

      > .booking-destroy-btn {
        margin-top: 5px;
        font-size: small;
        color: white;
        border: 1px solid white;
        padding: 5px;
        border-radius: 4px;
        text-decoration: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      > .booking-destroy-btn:hover {
        background-color: white;
        color: black;
      }
  }

}

.wagon-result {
  border-radius: 4px;
  background-color: #323232;
  border: 0;
}

.wagon-links {
  font-size: small;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

.wagon-links:hover {
  background-color: white;
  color: black;
}

// Media queries

@media(max-width: 992px) {

}

@media(max-width: 768px) {

}

@media(max-width: 480px) {

  .home-h2 {
    text-align: center;
  }

  .home-card-container {
    flex-direction: column;
  }

  .home-card {
    margin: 20px 0;
  }
}
