footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  padding: 20px 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $pink;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-description {
  width: 30%;
  > p {
    color: $pink;
    overflow-wrap: normal
  }
}

.footer-information {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > a {
    color: $pink;
    text-decoration: none;
  }
  > a:hover {
    color: $pink;
  }
}
